<%- include("partials/header"); -%>

<div id="post-section">
    <h1><%= titlePost %></h1>
    <p><%= contentPost %></p>
</div>
<div>
    <a href="/home" id="btn-home" class="btn btn-primary">Go Back</a>
</div>

<%- include("partials/footer"); -%>